* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    flex-grow: 1;
}

footer {
    background-color: #ffc0cb;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-top: auto;
}

.footer-container {
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-text p, .footer-links a {
    margin: 0;
    color: #000;
    font-size: 14px;
    line-height: 1.5em;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin: 0;
}

.footer-links a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    display: block;
}

.footer-links a:hover {
    text-decoration: underline;
}
