* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ffc0cb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  width: 100%;
}


.header-left {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 70px; 
}

.header-home {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
}

.home-icon {
  width: 40px;
  height: 40px;
  background: url('https://www.svgrepo.com/show/512347/home-1391.svg') no-repeat center center;
  background-size: cover;
  margin-right: 10px;
}


.header-search {
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  width: 420px;
  padding: 10px 10px 10px 50px;
  border: 1px solid #ccc;
  border-radius: 20px;
  color: black;
  font-size: 18px;
}

.search-icon {
  position: absolute;
  left: 15px;
  width: 30px;
  height: 30px;
  background: url('https://www.svgrepo.com/show/532552/search-alt-2.svg') no-repeat center center;
  background-size: cover;
}

.header-profile {
  display: flex;
  align-items: center;
}

.header-profile .profile-icon {
  margin-right: 20px;
  width: 55px;
  height: 55px;
  background: url('https://www.svgrepo.com/show/327151/person-circle-sharp.svg') no-repeat center center;
  background-size: cover;
}

.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit; 
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.header-posts {
  font-size: 23px;
  font-style: normal;
  font-weight: bold;
}

